<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pilot</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    
    <!--Header-->
    <div id="header">
        <img id="logo" src='static/images/logo.png'>
        <h1>Billing Management System</h1>
    </div>
    <h1 id='h1'>Hunger's Menu</h1>
    <div id='menu'>
        
        <div>
            <table id='table1'>
                {%for i in data[0]%}
                    <tr>
                    <td><h3>{{i.title()}}</h3></td>
                    <td><h4>Rs {{data[0][i]}}</h4></td>
                    {%if i in data[1]%}
                    {%if data[1][i]==0 %}
                    <td ><a  href='/add/{{i}}' id='button'>Add</a></td>
                    {%else%}
                    <td ><table onclick='checkout()'  id='table2'><tr><td ><a href='sub/{{i}}'>-</a></td><td id='data'>{{data[1][i]}}</td><td><a href='/add/{{i}}'>+</a> </td></tr></table></td>
                    {%endif %}
                    {% else %}
                    <td ><a  href='/add/{{i}}' id='button'>Add</a></td>
                    </tr>
                    {% endif %}
                    {%endfor%}
            </table>
        
            
        </div>
        
    </div>          {%for i in data[0]%}
                    {%if i in data[1]%}
                    {%if data[1][i]!=0%}
                    <div id='payment'>
                        <h3>To Pay {{data[2]}} </h3>
                        <a href='/payment/{{data[2]}}'><button>CONTINUE TO PAYMENT</button></a>
                    </div>
                    {%endif %}
                    {%endif %}
                {%endfor%}
    
    <div id = 'footer'>
        <a href='/'><img src='static/images/home.png'></a>
        <a href='/reports'><img src='static/images/reports.png'></a>
        <a href='/edit'><img src='static/images/edit.png'></a>
        <a href='/orders'><img src='static/images/orders.png'></a>
    </div>
</body>
<script>
    
</script>

</html>